<h1> Welcome to Restaurant App </h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <%= link_to restaurant_path(restaurant.id), method: :delete, data: { confirm: "Are you sure?" } do %>
    <% end %>
  <% end %>
</ul>
